
 
 <footer class="page-footer">
    <div class="container-fluid">

  <p>Mairie de Strasbourg</p>
  <p>Place de l'Etoile, Strasbourg</p>
  <p>Télephone: <a href="tel:123-456-7890">123-456-7890</a></p>


 
<div align="left">
    <h2>{{ .Description }}</h2>

    <h4>CONTACTER LA MAIRIE : </h4>
<FORM METHOD=POST ENCTYPE="text/plain" ACTION="mailto:boris.andlauer@epitech.eu">
    <table style="height: 182px;" width="514">
        <tbody>
        <tr>
            <td style="width: 249px;">Nom: <INPUT NAME=Nom size=30></td>
            <td style="width: 249px;">Prénom: <INPUT NAME=Prenom size=30></td>
        </tr>
        <tr>
            <td style="width: 249px;">   Sexe: <INPUT TYPE=RADIO NAME=Sexe VALUE=Masculin> Masculin
                <INPUT TYPE="RADIO" NAME="Sexe" VALUE="Féminin" /> Féminin</td>
        </tr>
        <tr>
            <td style="width: 249px;">Message: <TEXTAREA NAME=Message rows=5 cols=30></TEXTAREA>
            </td>
        </tr>
        <tr>
            <td style="width: 249px;"><INPUT TYPE=SUBMIT VALUE=Envoyer>
                                      <INPUT TYPE=RESET VALUE=Effacer>
            </td>
        </tr>
        </tbody>
    </table>
</FORM>
    <table style="height: 182px;" width="600">
        <tbody>
        <tr>
           
           

            	<div style="width: 700px;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Place%20de%20l%5C'etoile%20strasbourg%2C%20France+(Titre)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/pt/">googlemapsgen (pt)</a> & <a href="https://opwaarderenlebara.nl/">OpwaarderenLebara (site)</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
            </h4>
        </tr>
        <tr>
            </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</footer> 